{% extends 'base.html.twig' %}

{% block title %}Accueil - Blog de Bob le voyageur{% endblock %}

{%  block body %}
    <div>
        <h1 class="text-center text-black opacity-75">Blog de Bob le voyageur</h1>
    </div>
{% endblock %}

