{% extends 'base.html.twig' %}


{%  block body %}
    <div class="background-image">
        <header class="container">
            <nav class="text-black mt-4">
                <ul class="d-flex list-unstyled justify-content-between">
                    <li class="fw-bold text-dark opacity-75">Les derniers articles</li>
                    <li class="fw-bold text-dark opacity-75">Commenter mon actualité</li>
                    <li class="fw-bold text-dark opacity-75">Qui je suis</li>
                    <li class="fw-bold text-dark opacity-75">Me contacter</li>
                    <li class="fw-bold text-dark opacity-75">Connexion</li>
                </ul>
            </nav>
        </header>
        <h1 class="text-center text-black opacity-75">Blog de Bob le voyageur</h1>
    </div>
{% endblock %}

