{% extends 'base.html.twig' %}

{% block title %}Accueil - Blog de Bob le voyageur{% endblock %}

{%  block body %}
        <h1 class="text-center text-black opacity-75">Blog de Bob le voyageur</h1>
        <div class="slider">
            <article class="perspective">
                <div class="left-side">
                    <a href="#">
                        <img src="{{ asset('images/italie.jpg') }}" width="620" height="465" alt="Image de l'italie présentant le reste de ">
                    </a>
                </div>
            </article>
            <article class="perspective">
                <div class="middle-side">
                    <a href="#">
                        <img src="{{ asset('images/japon.jpg') }}" width="620" height="465" alt="Image de l'article">
                    </a>
                </div>
            </article>
            <article class="perspective">
                <div class="right-side">
                    <a href="#">
                        <img src="{{ asset('images/sicile.jpg') }}" width="620" height="465" alt="Payase de la sicile">
                    </a>
                </div>
            </article>
        </div>
{% endblock %}

