{% extends 'base.html.twig' %}

{% block title %}Accueil - Blog de Bob le voyageur{% endblock %}

{%  block body %}
        <h1 class="text-center text-black opacity-75">Blog de Bob le voyageur</h1>
        <div class="slider">
            <article class="perspective">
                <div class="left-side">
                    <figure>
                        <h2>Visitez l'italie</h2>
                        <img src="{{ asset('images/italie.jpg') }}" width="620" height="465" alt="Image de l'italie présentant le reste d'un vestige">
                    </figure>
                </div>
            </article>
            <article class="perspective">
                <div class="middle-side">
                    <figure>
                        <h2>Le japon vous tente</h2>
                        <img src="{{ asset('images/japon.jpg') }}" width="620" height="465" alt="Une allée au japon">
                    </figure>
                </div>
            </article>
            <article class="perspective">
                <div class="right-side">
                    <figure>
                        <h2>La sicile un endroit de rêve</h2>
                        <img src="{{ asset('images/sicile.jpg') }}" width="620" height="465" alt="Payase de la sicile">
                    </figure>
                </div>
            </article>
        </div>
{% endblock %}

