<header class="container">
    <nav class="text-black pt-4">
        <ul class="d-flex list-unstyled justify-content-between">
            <li class="fw-bold text-dark opacity-75">Mon actualité</li>
            <li class="fw-bold text-dark opacity-75">Commenter mon actualité</li>
            <li class="fw-bold text-dark opacity-75">Présentation client</li>
            <li class="fw-bold text-dark opacity-75">Contact</li>
            <li class="fw-bold text-dark opacity-75">Connexion</li>
        </ul>
    </nav>
</header>
