// Variables pour votre slider
$slider-perspective: 1000px;
$slider-transition-time: 0.5s;
$margin-inline: 30px;
$header-size: 10px;

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background-image{
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.70;
        z-index: -1;
    }


}

.slider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(250px, 1fr);
    margin-inline: $margin-inline;

    &:has(.left-side:active) {
        .middle-side,
        .right-side {
            opacity: 0;
        }
    }

    &:has(.middle-side:active) {
        .left-side,
        .right-side {
            opacity: 0;
        }
    }
    &:has(.right-side:active) {
        .left-side,
        .middle-side {
            opacity: 0;
        }
    }
}
.perspective {
    perspective: $slider-perspective;
    .left-side{
        transform-style: preserve-3d;
        transform: rotateY(20deg);
        cursor: pointer;
    }
    .left-side:active{
        animation: leftTransition $slider-transition-time ease-out forwards;
    }
    .middle-side{
        transform-style: preserve-3d;
        transform: translateZ(-110px);
        transition: transform $slider-transition-time ease-out;
        cursor: pointer;
    }
    .middle-side:active{
        animation: middleTransition $slider-transition-time ease-out forwards;
    }
    .right-side{
        transform-style: preserve-3d;
        transform: rotateY(-20deg);
        cursor: pointer;
    }
    .right-side:active{
        animation: rightTransition $slider-transition-time ease-out forwards;
    }
    figure{
        position: relative;
        margin: 0;
        display: block;
        h2{
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000,
                0 0 10px rgba(255, 255, 255, 0.7);
            width: 90%;
            color: white;
            text-align: center;
        }
        img {
            display: block;
            border-radius: 12px;
            width: var(--img-width);
            height: var(--img-height);
            pointer-events: none;
            transition: all $slider-transition-time ease-out;
            object-fit: cover;
            user-select: none;
        }
    }

}

@media screen and (max-width: 1050px) {
    .slider{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;

        .perspective {
            width: 100%;
            .left-side,
            .middle-side,
            .right-side {
                position: relative;
                transform: none;
                animation: none;
                figure{
                    display: block;

                    h2 {
                        z-index: 10;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 360px;
                    }
                }

            }

            .left-side {
                animation: animSlide 12s infinite both;
                animation-delay: 0s;
            }
            .middle-side {
                animation: animSlide 12s infinite both;
                animation-delay: 3s;
            }
            .right-side {
                animation: animSlide 12s infinite both;
                animation-delay: 6s;
            }
        }
    }
}

@keyframes leftTransition {
    from {
        transform: rotateY(20deg);
    }
    to {
        transform-origin: calc(var(--img-width)/2) $header-size;
        transform: rotateY(0) translateX(calc(50vw - var(--img-width)/2 - $margin-inline)) scale(var(--scale-x), var(--scale-y));
    }
}
@keyframes middleTransition {
    from {
        transform: translateZ(-110px);
    }
    to {
        transform-origin: calc(var(--img-width)/2) $header-size;
        transform: scale(var(--scale-x), var(--scale-y));
    }
}
@keyframes rightTransition {
    from {
        transform: rotateY(-20deg);
    }
    to {
        transform-origin: calc(var(--img-width)/2) $header-size;
        transform: rotateY(0) translateX(calc(-50vw + var(--img-width)/2 + $margin-inline)) scale(var(--scale-x), var(--scale-y));
    }
}

@keyframes animSlide {
    0%, 20% {
        opacity: 1;
        z-index: 3;
    }
    30%, 90% {
        opacity: 0;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 3;
    }
}

